@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&family=Roboto:wght@400;500&display=swap");

::selection {
  color: #fff5d9;
  background: #ee7868;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
}

main {
  background-color: #fdf08a;
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari*/
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  padding-right: 10px;
  float: left;
}

/*++++++++++++++++*/
/* NAVIGATION-BOX */
/*++++++++++++++++*/

.sticky-nav {
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: white;
  border-bottom: hidden 1px #e7e7e7;
}

.flex-left {
  display: flex;
  flex-grow: 1;
}

.flex-right {
  display: flex;
  align-items: center;
}

.nav-box {
  width: 100%;
}

.nav-box a {
  letter-spacing: -1px;
}

/* 수정 필요 */
.nav-box > ul > li > a:link,
.nav-box > ul > div > li > a:link {
  color: #2e0e0f;
  text-decoration: none;
}

/* 수정 필요 */
.nav-box > ul > li > a:visited,
.nav-box > ul > div > li > a:visited {
  color: #2e0e0f;
  text-decoration: none;
}

/* 수정 필요 */
.nav-box > ul > li > a:hover,
.nav-box > ul > div > li > a:hover {
  color: #f52334;
  text-decoration: none;
}

.nav-box a:hover {
  color: #f52334;
  transition-duration: 0.5s;
}

.nav-box a:active {
  color: #f52334;
}

.nav-box ul {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-box > ul > li,
.nav-box > ul > div > li {
  padding-top: 27px;
  padding-bottom: 27px;
  padding-right: 20px;
  width: max-content;
  height: auto;
  font-size: 110%;
}

/*++++++++++*/
/* DROPDOWN */
/*++++++++++*/

.dropdown {
  float: left;
  overflow: hidden;
}

/* 펼치기 전 (none) */
.dropdown-content {
  display: none;
  position: fixed;
  top: 80px;
  left: 0;
  background-color: white;
  border-top: solid 1px #ededed;
  width: 100%;
  overflow: auto;
}

.dropdown-content-title {
  padding: 12px 16px;
  margin-left: 60px;
  float: left;
}

.dropdown-content-title::after {
  content: "";
  display: inline-block;
  width: 55px;
  height: 1px;
  background: #d4d4d4;
  margin-left: 32px;
  margin-bottom: 3px;
}

.dropdown-content a {
  display: block;
  width: fit-content;
  padding: 3px;
  float: none;
  color: #777;
  text-decoration: none;
  text-align: left;
}

/* 수정 필요 */
.dropdown-content a:first-child {
  margin-top: 12px;
}

.dropdown-content a:last-child {
  margin-bottom: 12px;
}

/* 펼친 후 커서 올렸을 때 */
.dropdown-content a:hover {
  font-weight: 500;
}

.dropdown-content-submenu {
  display: inline-block;
  flex-grow: 1;
}

/* 펼칠 때 */
.dropdown:hover .dropdown-content {
  display: flex;
}

/*+++++++*/
/* LOGIN */
/*+++++++*/

.login-box {
  padding: 5px;
  display: inline-block;
}

.login-box ul {
  display: flex;
}

.login-box li {
  padding-right: 10px;
  font-weight: 700;
  width: max-content;
}

.login-box li:last-child {
  padding-right: 0;
}

.login-box a:link {
  color: #2e0e0f;
  text-decoration: none;
}

.login-box a:visited {
  color: #2e0e0f;
  text-decoration: none;
}

.login-box a:hover {
  text-decoration: none;
}

.btn-image {
  border-style: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0px;
}

.btn-text {
  background-color: transparent;
  cursor: pointer;
}

#btn-logo-brand {
  float: left;
  background-color: white;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 24px;
  margin-right: 80px;
}

#btn-icon-ham {
  display: inline-block;
  margin-right: 24px;
  background-color: white;
}

#btn-text-franchise {
  width: max-content;
  height: auto;
  display: inline-block;
  padding: 9px 53px;
  margin-left: 25px;
  margin-right: 29px;
  margin-bottom: 3px;
  border: solid 3px #f52334;
  border-radius: 28px;
  background-color: white;
  color: #f52334;
  letter-spacing: -1px;
  font-size: 110%;
  font-weight: 700;
}

/*++++++++*/
/* FOOTER */
/*++++++++*/

.wrapper {
  display: flex;
  flex-direction: column;
}

footer a {
  text-decoration: none;
  color: white;
}

footer p {
  font-size: 13px;
}

.footer {
  display: block;
  width: 100%;
  height: 300px;
  /* position: fixed; */
  /* bottom: 0; */
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #3b2120;
  color: #a69c9c;
  padding: 50px 50px;
}

.footer-box {
  float: left;
  border: hidden white;
}

.footer-box a {
  letter-spacing: -1px;
}

.border-line {
  content: "";
  width: 1px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.2);
}

#footer-box-left {
  display: flex;
  flex-direction: column;
}

.footer-menu-left {
  display: inline-block;
}

.footer-menu-left ul {
  font-size: 120%;
}

.footer-menu-left li {
  padding-right: 20px;
}

.footer-menu-leftBottom p {
  margin-top: 30px;
}

.footer-menu-left li:last-child {
  padding-right: 0;
}

#footer-box-right {
  display: flex;
  flex-direction: column;
}

#footer-box-right ul {
  float: right;
  font-size: 120%;
}

.footer-menu-right {
  display: inline-block;
}

.footer-menu-right li {
  padding-left: 20px;
}

.footer-menu-right li:first-child {
  padding-left: 0;
}

.footer-menu-rightBottom {
  display: inline-block;
}

.copyright {
  background-color: #2d1817;
  color: #9a908f;
  text-align: center;
  margin: 0;
  border-top: #9a908f;
  border-left: #2d1817;
  border-right: #2d1817;
  border-bottom: #2d1817;
  border-width: 1px;
  border-style: solid;
}

.copyright p {
  font-size: 12px;
}

/*++++++++++++++*/
/* FLOATING NAV */
/*++++++++++++++*/

.floating-menu {
  width: auto;
  height: 0;
  margin: 0;
  padding: 0;
  bottom: 0;
}

.floating-nav-icon {
  width: 57px;
  height: 57px;
  display: inline-block;
  background-color: #f52334;
  border-radius: 50%;
  border-style: hidden;
  cursor: pointer;
}

#btn-icon-quick01 {
  position: fixed;
  bottom: 124px;
  right: 39px;
}

#btn-icon-quick02 {
  position: fixed;
  bottom: 42px;
  right: 39px;
}
